pip install ydata-profiling
streamlit
git+https://github.com/pytube/pytube
streamlit==1.14.0
streamlit-chat==0.0.2
langchain==0.0.138
langchain-google-genai==0.0.1
langchain-core==0.0.1
langchain-community==0.0.1
PyMuPDF==1.18.19
huggingface-hub==0.8.1
qdrant-client==1.0.3
docx2txt==0.8
python-dotenv==0.20.0
openai==0.15.0
streamlit==1.14.0
streamlit-chat==0.0.2
langchain==0.0.138
PyMuPDF==1.18.19
huggingface-hub==0.8.1
qdrant-client==1.0.3
docx2txt==0.8
python-dotenv==0.20.0
openai==0.15.0
langchain==0.2.3
langchain-community==0.2.4
langchain-google-genai==1.0.6
